In [2]:
import datos_profesora

In [3]:
datos_profesora.MASCOTAS

'Dos extraÃ±os gatos'

In [4]:
# Datos de fuentes locales
import os
os.name

'nt'

In [5]:
os.getcwd()

'c:\\Users\\CARLOS FELIX\\cursosPlatzi\\fundamentos_estadisticas_python'

In [6]:
os.listdir('.')

['.ipynb_checkpoints',
 '.vscode',
 'bicicletas-compartidas.csv',
 'datos_profesora.py',
 'Sesion 2.ipynb',
 '__pycache__']

In [7]:
import pandas as pd 
df = pd.read_csv('bicicletas-compartidas.csv')

In [8]:
df.head()

,fecha,bicis-compartidas,temp-obs,sens-temp,hum,viento,codigo-clima,festivo,findesemana,cuartil-ano
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [9]:
df.columns

Index(['fecha', 'bicis-compartidas', 'temp-obs', 'sens-temp', 'hum', 'viento',
       'codigo-clima', 'festivo', 'findesemana', 'cuartil-ano'],
      dtype='object')

In [10]:
df.shape

(17414, 10)

In [11]:
import tensorflow as tf

In [14]:
fashion_mnist = tf.keras.datasets.fashion_mnist
(imagenes, categorias) = fashion_mnist.load_data()[0]
imagenes.shape

(60000, 28, 28)

In [15]:
imagenes[0].shape, categorias[0]

((28, 28), 9)

In [18]:
imagenes[0].shape , categorias[0]

((28, 28), 9)

In [22]:
imagenes[0].shape, categorias[0]

((28, 28), 9)